bin
obj
packages/
mdfs/
Srs.Api.Build/Merge/
Api/Normativ.Api/Merge/
Mega.sln
*.DotSettings.user
.vs
/Srs.Api.Build/Package/lib
/Srs.Api.Build/Package/Srs.Api.*.nupkg
*.csproj.user
.idea
dist
*.egg-info
build
*.pyc
.eggs

target
*.class
*.log
out/
.idea
*.orig